includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 2
    ignoreErrors:
        - message: '#Unsafe usage of new static\(\)#'
          paths:
              - %currentWorkingDirectory%/app/Http/Resources/

    treatPhpDocTypesAsCertain: false
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
